<mat-toolbar color="primary">
  <span>
    Quiz
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button [routerLink]="'/login'">Login</button>
  <button mat-button [routerLink]="'/main'">Main</button>
  <button mat-button [routerLink]="'/gameArea'">Game Area</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>
