<mat-toolbar>
    <span>Hozzáadás</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form class="form-container" [formGroup]="form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="textarea-field">
                <mat-label class="required-input">Question*</mat-label>
                <textarea formControlName="question" 
                    matInput 
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize">
                </textarea>
                <mat-error>Question is manadatory</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label class="required-input">Answer A*</mat-label>
                <input formControlName="answerA" matInput>
                <mat-error>Answer is manadatory</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="checkbox-container">
                <mat-checkbox matInput formControlName="answerAcorrect">Answer A Correct</mat-checkbox>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label class="required-input">Answer B*</mat-label>
                <input formControlName="answerB" matInput>
                <mat-error>Answer is manadatory</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="checkbox-container">
                <mat-checkbox matInput formControlName="answerBcorrect">Answer B Correct</mat-checkbox>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label class="required-input">Answer C*</mat-label>
                <input formControlName="answerC" matInput>
                <mat-error>Answer is manadatory</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="checkbox-container">
                <mat-checkbox matInput formControlName="answerCcorrect">Answer C Correct</mat-checkbox>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label class="required-input">Answer D*</mat-label>
                <input formControlName="answerD" matInput>
                <mat-error>Answer is manadatory</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="checkbox-container">
                <mat-checkbox matInput formControlName="answerDcorrect">Answer D Correct</mat-checkbox>
            </div>
        </mat-grid-tile>

   
        </mat-grid-list>
    <div>
        <button mat-raised-button color="primary">Mentés</button>
    </div>
</form>