<div class="container" *ngIf="roomName && !question">
    <mat-spinner class="spinner-container"></mat-spinner>
    <div style="margin: 10px">
        Waiting for someone to join...
    </div>
</div>

<div class="container" *ngIf="question && roomName">
    <div class="question">
        {{question.question}}
    </div>
    <div *ngFor="let answer of question.answers">
        <div (click)="selectAnswer(answer._id)" class="answer" *ngIf="!answer.validated">
            {{answer.answer}}
        </div>
        <div (click)="selectAnswer(answer._id)" class="answer" *ngIf="answer.validated && answer.correct" style="background-color: green;">
            {{answer.answer}}
        </div>
        <div (click)="selectAnswer(answer._id)" class="answer" *ngIf="answer.validated && !answer.correct" style="background-color: red;">
            {{answer.answer}}
        </div>
    </div>

    <mat-divider class="space"></mat-divider>
    <span style="float:left">{{pointText}}</span>
    <div class="button-container">
        <button class="button-space" *ngIf="answerSelected" mat-raised-button color="primary" (click)="getQuestion()">Next</button>
        <button class="button-space" mat-raised-button color="warn" (click)="exit()">Exit</button>
    </div>
</div>
  
