.question {
    position: relative;
    padding: 20px;
    border: 2px #00000030 solid;
    border-radius: 18px;
    height: 100px;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #ffb80330;
}

.answer {
    width: 85%;
    height: 40px;
    border: 2px #00000030 solid;
    border-radius: 14px;
    margin: auto;
    margin-top: 10px;
    background-color: #ffb80330;
}

.spinner-container {
    margin: auto;
}

.button-container {
    float: right;
    margin-right: 20px;
}

.button-space {
    margin: 0 5px;
}