<div class="add-area">
    <button matTooltip="Kérdés hozzáadás" mat-fab (click)="addQuestion()">
        <mat-icon>add</mat-icon>
    </button>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="question">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Question</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.question}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerA">
            <mat-header-cell *matHeaderCellDef>Answer A</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[0].answer}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerACorrect">
            <mat-header-cell *matHeaderCellDef>Answer A correct</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[0].correct}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerB">
            <mat-header-cell *matHeaderCellDef>Answer B</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[1].answer}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerBCorrect">
            <mat-header-cell *matHeaderCellDef>Answer B correct</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[1].correct}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerC">
            <mat-header-cell *matHeaderCellDef>Answer C</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[2].answer}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerCCorrect">
            <mat-header-cell *matHeaderCellDef>Answer C correct</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[2].correct}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerD">
            <mat-header-cell *matHeaderCellDef>Answer D</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[3].answer}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="answerDCorrect">
            <mat-header-cell *matHeaderCellDef>Answer D correct</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answers[3].correct}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="onDelete(row._id)"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
          </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

