<div class="container">
    <div style="float: left">
        <button matTooltip="Szoba hozzáadás" [matMenuTriggerFor]="menu" mat-fab *ngIf="!inGame">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="roomContainer" [hasBackdrop]="false">
            <div class="room-container">
                <mat-form-field (click)="$event.stopPropagation();">
                    <input matInput [(ngModel)]="roomName" placeholder="Room name">
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" (click)="addRoom()">Open</button>
                </div>
            </div>
        </mat-menu>
    </div>
    <div>Szobák</div>
    <div class="room-container">
        <button (click)="joinRoom(room)" class="room-button" 
        mat-raised-button color="primary" 
        *ngFor="let room of rooms | async">{{room}}</button>
    </div>
    <mat-divider></mat-divider>
</div>
