mat-card {
    width: 30%;
    height: 30%;
    display: block;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

mat-form-field {
    padding: 2px;
    width: 100%;
    min-width: 100px;
}

button {
    margin-top: 5px;
    margin-right: 2px;
}