<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (submit)="login()" *ngIf="!isGuest">
          <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" required>
              <mat-error>Username mandatory</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error>Password mandatory</mat-error>
          </mat-form-field>
    
          <button mat-raised-button color="primary">
              Login
          </button>
          <button mat-raised-button color="primary" type="button" (click)="changeForm()">
            {{mode}}
          </button>
          <span style="color: red" *ngIf="errorMessage">
            {{errorMessage}}
          </span>
      </form>
      <form [formGroup]="guestForm" (submit)="loginGuest()" *ngIf="isGuest">
          <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" required>
              <mat-error>Username mandatory</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary">
              Login
          </button>
          <button mat-raised-button color="primary" type="button" (click)="changeForm()">
              {{mode}}
          </button>
          <span style="color: red" *ngIf="errorMessage">
            {{errorMessage}}
          </span>
      </form>
    </mat-card-content>
</mat-card>