/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
    margin-left: 50px;
}

.add-area {
    margin: 10px;
}

.space {
    margin: 20px !important;
}

table {
    margin-top: 20px;
    width: 100%;
}

.container {
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mat-dialog-container {
    width: 560px !important;
}
