<mat-grid-list cols="4" rowHeight="115px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <app-room-area (playerOutput)="updateWaitingPlayer($event)"></app-room-area>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="5">
        <app-score-board></app-score-board>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="4">
        <app-question-area></app-question-area>
    </mat-grid-tile>
</mat-grid-list>